.App {
  text-align: center;
}

body{
  background-color: lightcoral;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h2{
  padding-top: .5em;
  font-weight: 700;
}



/* Mobile */

@media only screen and (max-width: 830px){
  .cardcontainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 2rem;
    margin-right: 10%;
    margin-left: 10%;
  }
  .card {
    width:100%;
    padding: .4rem;
    margin: .4rem;
    box-shadow: 6px 6px 10px black;
    border-radius: .5em;
  }
  .form-groupheader{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .card button{
    margin-bottom: .2rem;
  }
}

/* Page header */


.dark-background {
  background-color: #222;
  color: white;
  font-weight: 400;
}

.dark-background h2{
  letter-spacing: 3px;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}
@media only screen and (min-width: 831px) {
  .form-groupheader{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
}
/* Product Cards */
@media only screen and (min-width: 831px) {
.cardcontainer{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 2rem;
  margin-right: 14rem;
  margin-left: 14rem;
}

.card {
  width: 350px;
  padding: .4rem;
  margin: .4rem;
  box-shadow: 6px 6px 10px black;
  border-radius: .5em;
}

.card button{
  margin-bottom: .2rem;
}
}
/* Product Update Form */

.updateProductForm input, textarea{
width: 250px;
margin: 5px;
}


/* Nav Bar */
nav{
  background-color: white;
}

.nav-item a{
  font-weight:700;
  text-decoration: none;
  color: #222;
}

.nav-item a:hover{
  font-weight:700;
  text-decoration: none;
  color: #3ab5fe;
}

.nav-item{
  margin-top: 20px;
  padding: .5rem;
}

/* footer */

footer{
  margin-top: 4rem;
}

.footer-social-links a{
  color: white;
}

.footer-social-links a:hover{
  color: #3ab5fe;
}

.footer-logo{
  font-weight: 700;
}