.App {
  text-align: center;
}

body{
  background-color: lightcoral;
}
/* Product Cards */

.container{
  margin-top: 40px;
  width: 100%;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
  margin: .9rem;
  display: inline-block;
  box-shadow: 6px 6px 10px black;
  border-radius: .5em;
}

.card button{
  margin: .5rem;
}